
h1 {
    font-size: 400%;
    margin-top: 24%;
    margin-left: 45%;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

p2 {
    position: absolute;
    right: 10;
    bottom: 10;
}

p1 {
    position: absolute;
    right: 10;
    bottom: 30;
}

.yes {
    color: red;
}

.almost {
    margin-left: 40%;
    color: lightpink;
}
.missed {
    margin-left: 30%;
    color: lightpink;
}
